    <p-card styleClass="p-card-shadow p-p-3 p-mt-4">
        <p-table [columns]="cols" [value]="ofertas" [scrollLeft]="true"
            styleClass="p-datatable-gridlines p-datatable-striped" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>  
                    <th>Empresa</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-oferta let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <span class="p-column-title"><strong>{{col.header}}:</strong></span>
                        {{oferta[col.field]}}
                    </td>
                    <td>
                        <span class="p-column-title"><strong>Empresa:</strong></span>
                        {{oferta.empresa.razonSocial}}
                    </td>
                    <td>
                        <span class="p-column-title"><strong>Estado:</strong></span>
                        {{estado(oferta.fechaCierre)}}
                    </td>
                    <td>
                        <!-- <ng-container *ngIf="rol && rol.includes('ADMIN')">  -->
                        <button pButton pRipple type="button" icon="pi pi-search-plus"
                            [routerLink]="'/ofertas/'+oferta.id" class="p-button-rounded p-button-info p-mr-2"
                            pTooltip="Ver oferta"></button>
                        <!-- </ng-container>   -->
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
