<p-card styleClass="p-card-shadow p-p-3 p-mt-4">
    <ng-template pTemplate="title">
        <div class="p-grid p-ai-center p-vertical-container">
            <div class="p-col-fixed">
                <span>Bolsa de trabajo</span>

            </div>
            <div class="p-col-fixed">
                <button type="text" icon="pi pi-info-circle" pButton label="Más columnas" class="p-mr-3"
                    (click)="op.toggle($event)"></button>
                <p-button *ngIf="items.length>0" (click)="borrarFiltro('')"  label="Borrar filtros" icon="pi pi-times"
                    styleClass="p-button-danger" ></p-button>

            </div>

        </div>
    </ng-template>
    <ng-template pTemplate="subtitle">
        <div class="p-grid p-ai-center p-vertical-container">
            <p-tag *ngFor="let item of items" (click)="borrarFiltro(item.filtro)" styleClass="p-mr-2" severity="success"
                [value]="item.valor" [rounded]="true"></p-tag>

           

        </div>
    </ng-template>

    <p-table [value]="postulantes" styleClass="p-datatable-gridlines p-datatable-striped" [scrollable]="true"
        scrollHeight="400px" scrollDirection="both" [responsive]="true" sortMode="single" [lazy]="true"
        (onLazyLoad)="customSort($event)">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <!-- <th *ngFor="let col of columns">
            {{col.header}}
        </th> -->
                <th style="width:200px">Nombre</th>
                <th style="width:125px" pSortableColumn="edadOrden">

                    <div class="p-d-flex p-jc-between p-ai-center">
                        Edad<p-sortIcon field="edadOrden"></p-sortIcon>
                        <p-columnFilter [showClearButton]="false" [showApplyButton]="false" field="edad"
                            matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false"
                            [showAddButton]="false">
                            <ng-template pTemplate="filter">
                                <p-inputNumber [(ngModel)]="edad" [showButtons]="true" buttonLayout="horizontal"
                                    inputId="horizontal" spinnerMode="horizontal" [step]="1"
                                    decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                                    incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]="16"
                                    [max]="90" (onBlur)="filtrar('fechaNacimiento', calcularEdadInverso(), 'Edad')">
                                </p-inputNumber>
                            </ng-template>

                        </p-columnFilter>
                    </div>
                </th>
                <th style="width:100px">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Sexo
                        <p-columnFilter [showClearButton]="false" [showApplyButton]="false" field="sexo"
                            matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false"
                            [showAddButton]="false">
                            <ng-template pTemplate="filter">
                                <p-dropdown [options]="sexo" [(ngModel)]="selectedSexo"
                                    (onChange)="filtrar('sexo', selectedSexo, 'Sexo')" styleClass="p-m-3"></p-dropdown>

                            </ng-template>

                        </p-columnFilter>
                    </div>
                </th>
                <th style="width:200px">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Domicilio
                        <p-columnFilter [showClearButton]="false" [showApplyButton]="false" field="domicilio"
                            matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false"
                            [showAddButton]="false">
                            <ng-template pTemplate="filter">

                                <p-dropdown [options]="departamentos" [(ngModel)]="selectedDepartamento"
                                    optionLabel="nombre" optionValue="nombre" (onChange)="onChangeDepartamento()"
                                    styleClass="p-m-3" placeholder="Seleccione un departamento">
                                </p-dropdown>
                                <p-dropdown *ngIf="localidades" [options]="localidades" [(ngModel)]="selectedLocalidad"
                                    optionLabel="nombre" optionValue="nombre"
                                    (onChange)="filtrar('localidad', selectedLocalidad, 'Localidad')" styleClass="p-m-3"
                                    placeholder="Seleccione una localidad">
                                </p-dropdown>

                            </ng-template>

                        </p-columnFilter>
                    </div>
                </th>
                <th style="width:200px">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Nivel educativo
                        <p-columnFilter [showClearButton]="false" [showApplyButton]="false" field="sexo"
                            matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false"
                            [showAddButton]="false">
                            <ng-template pTemplate="filter">
                                <p-dropdown [options]="nivelEducativo" [(ngModel)]="selectedNE"
                                    (onChange)="filtrar('nivelEducativo', selectedNE, 'Nivel Educativo')"
                                    styleClass="p-m-3"></p-dropdown>

                            </ng-template>

                        </p-columnFilter>
                    </div>
                </th>
                <th style="width:200px" *ngIf="areaT">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Áreas de formación
                        <p-columnFilter [showClearButton]="false" [showApplyButton]="false" field="sexo"
                            matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false"
                            [showAddButton]="false">
                            <ng-template pTemplate="filter">
                                <p-dropdown [options]="areaTOp" [(ngModel)]="selectedArea"
                                    (onChange)="filtrar('areaTematica', selectedArea, 'Áreas de formación')"
                                    styleClass="p-m-3"></p-dropdown>

                            </ng-template>

                        </p-columnFilter>
                    </div>
                </th>
                <th style="width:200px" *ngIf="idiomasColumn">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Idiomas
                        <p-columnFilter [showClearButton]="false" [showApplyButton]="false" field="sexo"
                            matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false"
                            [showAddButton]="false">
                            <ng-template pTemplate="filter">
                                <p-dropdown [options]="idiomas" [(ngModel)]="selectedIdioma"
                                    (onChange)="filtrar('idioma', selectedIdioma,'Idioma')" styleClass="p-m-3">
                                </p-dropdown>

                            </ng-template>

                        </p-columnFilter>
                    </div>
                </th>
                <th style="width:200px" *ngIf="experiencias">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Experiencias - Rubro
                        <p-columnFilter [showClearButton]="false" [showApplyButton]="false" field="sexo"
                            matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false"
                            [showAddButton]="false">
                            <ng-template pTemplate="filter">
                                <p-dropdown [options]="areaRubro" [(ngModel)]="selectedRubro"
                                    (onChange)="filtrar('rubro', selectedRubro,'Exp. Rubro')" styleClass="p-m-3">
                                </p-dropdown>

                            </ng-template>

                        </p-columnFilter>
                    </div>
                </th>
                <th style="width:200px" *ngIf="permisos">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Permisos
                        <p-columnFilter [showClearButton]="false" [showApplyButton]="false" field="sexo"
                            matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false"
                            [showAddButton]="false">
                            <ng-template pTemplate="filter">
                                <p-dropdown [options]="tipoDocumento" [(ngModel)]="selectedDocumento"
                                    (onChange)="filtrar('permisos', selectedDocumento,'Permisos')" styleClass="p-m-3">
                                </p-dropdown>

                            </ng-template>

                        </p-columnFilter>
                    </div>
                </th>
                <th style="width:200px" *ngIf="intereses">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Áreas de interés
                        <p-columnFilter [showClearButton]="false" [showApplyButton]="false" field="sexo"
                            matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false"
                            [showAddButton]="false">
                            <ng-template pTemplate="filter">
                                <p-dropdown [options]="areaRubro" [(ngModel)]="selectedInteres"
                                    (onChange)="filtrar('interes', selectedInteres, 'Intereses')" styleClass="p-m-3">
                                </p-dropdown>

                            </ng-template>

                        </p-columnFilter>
                    </div>
                </th>
                <th style="width:200px" *ngIf="esAdmin()">
                    Visibilidad
                </th>
                <th style="width:150px" alignFrozen="right" pFrozenColumn [frozen]="true">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-postulante let-columns="columns">
            <tr style="height: 66px;">
                <!-- <td *ngFor="let col of columns">
            <span class="p-column-title">{{col.header}}</span>
            {{postulante[col.field]}}
        </td> -->
                <td style="width:200px">
                    <span class="p-column-title">Nombre</span>
                    {{postulante.primerNombre}} {{postulante.primerApellido}}
                </td>
                <td style="width: 125px;">
                    <span class="p-column-title">Edad</span>
                    {{calcularEdad(postulante.fechaNacimiento)}}
                </td>
                <td style="width:100px">
                    <span class="p-column-title">Sexo</span>
                    {{postulante.sexo}}
                </td>
                <td style="width:200px">
                    <span class="p-column-title">Domicilio</span>
                    <ng-container *ngIf="postulante.localidad; else pais">
                        {{postulante.pais?.nombre}}, {{postulante.localidad?.departamento?.nombre}},
                        {{postulante.localidad?.nombre}}
                    </ng-container>
                    <ng-template #pais>
                        {{postulante.pais?.nombre}}
                    </ng-template>
                </td>
                <td style="width:200px">
                    <span class="p-column-title">Nivel educativo</span>
                    {{postulante.nivelEducativo}}
                </td>
                <td style="width:200px;" *ngIf="areaT">
                    <span class="p-column-title">Áreas de formación</span>
                    <p class="columnas-texto">
                        <ng-container *ngFor="let cap of postulante.capacitacionFormacion">
                            {{cap.areaTematica}}
                            <br>
                        </ng-container>
                    </p>
                </td>
                <td style="width:200px" *ngIf="idiomasColumn">
                    <span class="p-column-title">Idiomas</span>
                    <p class="columnas-texto">
                        <ng-container *ngFor="let idioma of postulante.idioma">
                            <div *ngIf="idioma.nombre=='Otro'; else otro">
                                {{idioma.nombre}}: {{idioma.especificacion}}
                            </div>
                            <ng-template #otro>
                                {{idioma.nombre}}
                            </ng-template>
                            <br>

                        </ng-container>
                    </p>
                </td>
                <td style="width:200px" *ngIf="experiencias">
                    <span class="p-column-title">Experiencias</span>
                    <p class="columnas-texto">
                        <ng-container *ngFor="let exp of postulante.expLaboral">
                            {{exp.area}}
                            <br>
                        </ng-container>
                </td>
                <td style="width:200px" *ngIf="permisos">
                    <span class="p-column-title">Permisos</span>
                    <p class="columnas-texto">
                        <ng-container *ngFor="let perm of postulante.permisosLicencias">
                            <div *ngIf="perm.tipoDocumento=='Otro'; else otroPerm">
                                {{perm.tipoDocumento}}: {{perm.especificacion}}
                            </div>
                            <ng-template #otroPerm>
                                {{perm.tipoDocumento}}
                            </ng-template>
                            <br>

                        </ng-container>
                    </p>
                </td>
                <td style="width:200px" *ngIf="intereses">
                    <span class="p-column-title">Areas de interes</span>
                    <p class="columnas-texto">
                        <ng-container *ngFor="let preferencia of postulante.preferenciaLaboral">
                            {{preferencia.areaInteres}}
                            <br>
                        </ng-container>
                    </p>
                </td>
                <td style="width:200px" *ngIf="esAdmin()">
                    {{postulante.visibilidad  ? 'Visible' : 'Invisible' }}
                </td>
                <td style="width:150px" alignFrozen="right" pFrozenColumn [frozen]="true">
                    <button pButton pRipple type="button" icon="pi pi-search-plus" title="DetallarInfo"
                        (click)="showInfoPostulante(postulante)" class="p-button-rounded p-button-warning p-mr-2"
                        pTooltip="Informacion del postulante">
                    </button>
                    <button pButton pRipple type="button" icon="pi pi-eye-slash" title="OcultarPostulante"
                        (click)="ocultarPostulante(postulante)" class="p-button-rounded p-button-secondary p-mr-2"
                        pTooltip="Ocultar Postulante" *ngIf="esAdmin()">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <ng-template pTemplate="footer">
        <p-paginator [rows]="10" [totalRecords]="totalRows" (onPageChange)="onPaginacion($event)"></p-paginator>

    </ng-template>
</p-card>

<p-dialog class="p-grid p-jc-center" header="Informacion del postulante" [(visible)]="displayInfoPostulanteDialog"
    [style]="{height: '100%',width: '100%'}" [draggable]="false">
    <app-datos-postulante *ngIf="selectedPostulante.id" [id]="selectedPostulante.id"></app-datos-postulante>
</p-dialog>

<p-overlayPanel #op>
    <ng-template pTemplate>
        <div class="p-fluid p-formgrid p-grid p-mb-4">

            <div class="p-field-checkbox p-col-12 p-md-6">
                <p-checkbox [binary]="true" id="cap" [(ngModel)]="areaT">
                </p-checkbox>
                <label for="cap">Áreas de formación</label>
            </div>

            <div class="p-field-checkbox p-col-12 p-md-6">
                <p-checkbox [binary]="true" id="idioma" [(ngModel)]="idiomasColumn"></p-checkbox>
                <label for="idioma">Idiomas</label>
            </div>

            <div class="p-field-checkbox p-col-12 p-md-6">
                <p-checkbox [binary]="true" id="exp" [(ngModel)]="experiencias"></p-checkbox>
                <label for="exp">Experencias por rubro</label>
            </div>

            <div class="p-field-checkbox p-col-12 p-md-6">
                <p-checkbox [binary]="true" id="permiso" [(ngModel)]="permisos">
                </p-checkbox>
                <label for="permiso">Permisos</label>
            </div>
            <div class="p-field-checkbox p-col-12 p-md-6">
                <p-checkbox [binary]="true" id="interes" [(ngModel)]="intereses">
                </p-checkbox>
                <label for="interes">Intereses</label>
            </div>


        </div>
    </ng-template>
</p-overlayPanel>