<div class="p-grid">
    <div class="p-col-12 p-md-3 p-fluid">
        <div class=" p-grid p-jc-center">
            <div class="p-col-12 p-grid p-jc-center ">
                <img style="max-height:250px; max-width: 100%; " [src]="postulante?.foto">
            </div>
            <div class="p-col-12 p-grid p-jc-center">
                <p-fileUpload *ngIf="perfilPropio" mode="basic" chooseLabel="Cambiar Foto de Perfil"
                    name="file" url="http://localhost:3000/api/postulante/foto" accept="image/*"
                    (onUpload)="onUpload()">
                </p-fileUpload>
            </div>
            <div class="p-col-12 p-grid p-jc-center">
                <div *ngIf="perfilPropio" class="p-field p-grid p-mt-2">
                    <label for="Visibilidad" class="p-col-fixed"
                        style="width:100px"><strong>Visibilidad:</strong></label>
                    <div class="p-col">
                        <p-inputSwitch id="Visibilidad"></p-inputSwitch>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-9">

        <div *ngIf="postulante" class="p-fluid p-formgrid p-grid">

            <!-- Datos personales -->
            <div class="p-field p-col-12 p-md-6">
                <strong>Nombres:</strong> <br>
                {{postulante.primerNombre}} {{postulante.segundoNombre}}
            </div>
            <div class="p-field p-col-12 p-md-6">
                <strong>Apellidos:</strong> <br>
                {{postulante.primerApellido}} {{postulante.segundoApellido}}
            </div>
            <div class="p-field p-col-12 p-md-6">
                <strong>{{postulante.tipoDocumento}}:</strong> <br>
                {{postulante.documento}}
            </div>
            <div class="p-field p-col-12 p-md-6">
                <strong>Fecha de nacimiento:</strong> <br>
                {{postulante.fechaNacimiento}}
            </div>
            <div class="p-field p-col-12 p-md-6">
                <strong>Teléfono:</strong> <br>
                {{postulante.primerTelefono}}
            </div>
            <div class="p-field p-col-12 p-md-6">
                <strong>Sexo:</strong> <br>
                {{postulante.sexo}}
            </div>

            <p-divider class="p-col-12"></p-divider>

            <div class="p-field p-col-12 p-md-6">
                <strong>Barrio:</strong> <br>
                {{postulante.barrio}}
            </div>
            <div class="p-field p-col-12 p-md-6">
                <strong>Dirección:</strong> <br>
                {{postulante.direccion}}
            </div>
            <div class="p-field p-col-12 p-md-6">
                <strong>País:</strong> <br>
                {{postulante.pais?.nombre}}, {{postulante.localidad?.departamento?.nombre}},
                {{postulante.localidad?.nombre}}
            </div>

            <p-divider class="p-col-12"></p-divider>

            <!--Capacitacion y formacion-->
            <div class="p-field p-col-12 p-md-6">
                <strong>Máximo nivel educativo:</strong> <br>
                {{postulante.nivelEducativo}}
            </div>
            <div class="p-field p-col-12 p-md-6">
                <strong>Estado:</strong> <br>
                {{postulante.estadoNE}}
            </div>
            <div class="p-field p-col-12 p-md-6">
                <strong>Orientación:</strong> <br>
                {{postulante.orientacionNE}}
            </div>

            <p-accordion>
                <p-accordionTab *ngIf="postulante.capacitacionFormacion&& postulante.capacitacionFormacion.length > 0"
                    header="Capacitaciones">
                    <p-accordion>
                        <div *ngFor="let CapFor of postulante.capacitacionFormacion;">
                            <p-accordionTab *ngIf="CapFor.nombre" [header]="CapFor.nombre">
                                <div class="p-fluid p-formgrid p-grid">

                                    <div class="p-field p-col-12 p-md-6">
                                        <strong>Area tematic:</strong> <br>
                                        {{CapFor.areaTematica}}
                                    </div>
                                    <div class="p-field p-col-12 p-md-6">
                                        <strong>Institución:</strong> <br>
                                        {{CapFor.institucion}}
                                    </div>
                                    <div class="p-field p-col-12 p-md-6">
                                        <strong>Fecha de inicio:</strong> <br>
                                        {{CapFor.fechaInicio}}
                                    </div>
                                    <div class="p-field p-col-12 p-md-6">
                                        <strong>Duración:</strong> <br>
                                        {{CapFor.duracion}} {{CapFor.tipoDuracion}}
                                    </div>
                                    <div class="p-field p-col-12 p-md-6">
                                        <strong>Estado:</strong> <br>
                                        {{CapFor.estado}}
                                    </div>
                                </div>
                            </p-accordionTab>
                        </div>
                    </p-accordion>
                </p-accordionTab>

                <p-accordionTab *ngIf="postulante.idioma&& postulante.idioma.length > 0" header="Idiomas">
                    <p-accordion>
                        <div *ngFor="let Idioma of postulante.idioma;">
                            <p-accordionTab *ngIf="Idioma.nombre" [header]="Idioma.nombre">
                                <div class="p-fluid p-formgrid p-grid">

                                    <div class="p-field p-col-12 p-md-6">
                                        <strong>Especificación:</strong> <br>
                                        {{Idioma.especificacion}}
                                    </div>
                                    <div class="p-field p-col-12 p-md-6">
                                        <strong>Habla Conversacional:</strong> <br>
                                        {{Idioma.hablaConv}}
                                    </div>
                                    <div class="p-field p-col-12 p-md-6">
                                        <strong>Comprensión Lectora:</strong> <br>
                                        {{Idioma.compLec}}
                                    </div>
                                    <div class="p-field p-col-12 p-md-6">
                                        <strong>Escritura:</strong> <br>
                                        {{Idioma.escritura}}
                                    </div>
                                    <div class="p-field p-col-12 p-md-6">
                                        <strong>Comprensión Auditiva:</strong> <br>
                                        {{Idioma.compAud}}
                                    </div>
                                </div>
                            </p-accordionTab>
                        </div>
                    </p-accordion>
                </p-accordionTab>

                <p-accordionTab *ngIf="postulante.conocimientoInfo&& postulante.conocimientoInfo.length > 0"
                    header="Conocimientos Informaticos">
                    <p-accordion>
                        <div *ngFor="let conocInfo of postulante.conocimientoInfo;">
                            <p-accordionTab *ngIf="conocInfo.nombreApp" [header]="conocInfo.nombreApp">
                                <div class="p-fluid p-formgrid p-grid">

                                    <div class="p-field p-col-12 p-md-6">
                                        <strong>Categoría:</strong> <br>
                                        {{conocInfo.categoria}}
                                    </div>
                                    <div class="p-field p-col-12 p-md-6">
                                        <strong>Nivel de conocimiento:</strong> <br>
                                        {{conocInfo.nivelConocimiento}}
                                    </div>
                                </div>
                            </p-accordionTab>
                        </div>
                    </p-accordion>
                </p-accordionTab>

            </p-accordion>

            <p-divider class="p-col-12"></p-divider>
            <!-- <p-accordion>
                    <p-accordionTab *ngIf="postulante.expLaboral&& postulante.capacitacionFormacion.length > 0" header="Capacitaciones">
                        <p-accordion>
                            <div *ngFor="let CapFor of postulante.capacitacionFormacion;">
                                <p-accordionTab *ngIf="CapFor.nombre" [header]="CapFor.nombre">
                                    <div class="p-fluid p-formgrid p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <strong>Area tematic:</strong> <br>
                                            {{CapFor.areaTematica}}
                                        </div>
                                        <div class="p-field p-col-12 p-md-6">
                                            <strong>Institución:</strong> <br>
                                            {{CapFor.institucion}}
                                        </div>
                                        <div class="p-field p-col-12 p-md-6">
                                            <strong>Fecha de inicio:</strong> <br>
                                            {{CapFor.fechaInicio}}
                                        </div>
                                        <div class="p-field p-col-12 p-md-6">
                                            <strong>Duración:</strong> <br>
                                            {{CapFor.duracion}} {{CapFor.tipoDuracion}}
                                        </div>
                                        <div class="p-field p-col-12 p-md-6">
                                            <strong>Estado:</strong> <br>
                                            {{CapFor.estado}}
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </div>
                        </p-accordion>
                    </p-accordionTab>

                   
                </p-accordion> -->
        </div>
    </div>

</div>