<div class="p-grid p-jc-center p-mt-4">
    <div class="p-col p-md-6 p-xl-4">
        <p-card header="Iniciar Sesión" styleClass="p-card-shadow p-p-3 p-text-center">
            <div class="p-col p-mt-1">
                No tienes cuenta?  <a [ngStyle]="{color:'var(--blue-500)'}" href="/registrar" >Registrate</a>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="ngOnSubmit()">
                <div class="p-grid p-formgrid p-flex-column p-fluid">
                    <div class="p-col">
                        <p-message *ngIf="!loginForm.valid&&!loginForm.pristine" severity="error" text="Faltan Campos"></p-message>
                    </div>
                    <div class="p-col p-mt-4">
                        <span class="p-float-label">
                            <input id="email" type="text" formControlName="email" pInputText>
                            <label for="email">Email</label>
                        </span>
                    </div>
                    <div class="p-col p-mt-4">
                        <span class="p-float-label">
                            <p-password id="contraseña" [toggleMask]="true" [feedback]="false" formControlName="contraseña"></p-password>
                            <label for="contraseña">Contraseña</label>
                        </span>
                    </div>
                    <div class="p-col p-mt-5">
                        <p-button type="submit" label="Ingresar" icon="pi pi-check"></p-button>
                    </div>
                    <div class="p-col p-mt-3">
                        <p-divider align="center"><b>O</b></p-divider>
                    </div>
                    <div class="p-col p-mt-3">
                        <p-button label="Ingresar con Google" icon="pi pi-google" (onClick)="signInWithGoogle()"></p-button>
                    </div>
                    <div class="p-col p-mt-3">
                        <p-button label="Ingresar con Facebook" icon="pi pi-facebook" (onClick)="signInWithFB()"></p-button>
                    </div>
                    <div class="p-col p-mt-5">
                        Eres una empresa?  <a [ngStyle]="{color:'var(--blue-500)'}" href="/solicitar_acceso">Solicitar acceso</a>
                    </div>
                    
                </div>
            </form>
        </p-card>
    </div>
</div>
<p-toast></p-toast>
