<p-card styleClass="p-card-shadow p-p-3 p-mt-4">
    <ng-template pTemplate="header">
        <div class="p-grid p-ai-center p-vertical-container">
            <h1 class="p-col-12 p-md-4">Novedades</h1>
            <div class="p-col-12 p-md-8">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                    <input type="text" pInputText placeholder="Buscar Novedades..." [(ngModel)]="query"
                        (keyup)="onKeyUp()">
                </div>
            </div>
        </div>
    </ng-template>
    <div class="p-grid">
        <div class="p-col-12 p-md-3 p-ai-stretch vertical-container" *ngFor="let novedad of novedades">
            <p-card styleClass="p-card-shadow">
                <ng-template pTemplate="header" *ngIf="novedad.imagen">
                    <img style="height:150px; max-width: 100%;" [src]="novedad.imagen" #img>
                </ng-template>
                <ng-template pTemplate="title">
                    <span class="titulo">{{novedad.titulo}}</span>
                </ng-template>
                <p class="descripcion">{{novedad.contenido}}</p>
                <ng-template pTemplate="footer">
                    <div class="p-grid p-nogutter p-justify-between">
                        <button pButton pRipple type="button" label="Detalles" *ngIf="novedad.id"
                            [routerLink]="'/novedades/'+novedad.id"
                            class="p-button-outlined p-button-rounded p-button-success "></button>

                        <button pButton pRipple type="button" label="Compartir" *ngIf="novedad.id"
                            class="p-button-outlined p-button-rounded p-button-success"
                            (click)="compartir(novedad)"></button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <!-- <p-paginator [rows]="12" [totalRecords]="total" (onPageChange)="onPaginacion($event)"></p-paginator> -->

    </ng-template>
</p-card>

<p-dialog header="Compartir" [(visible)]="displayCompartirDialog" [breakpoints]="[{ '80px': '30vw' }]"
    [style]="{ width: '18vw' }" [baseZIndex]="10000">

    <div class="p-grid p-formgrid p-flex-column p-fluid">
        <a pButton pRipple type="button" label="Facebook" class="p-button-raised p-button-info p-mb-2" 
            [href]="'https://www.facebook.com/sharer/sharer.php?u='+url">
        </a>
        <a pButton pRipple type="button" label="WhatsApp" class="p-button-raised p-button-success p-mb-2"
            [href]="'https://api.whatsapp.com/send?text='+url">
        </a>
        <a pButton pRipple type="button" label="Twitter" class="p-button-raised p-button-primary p-mb-2"
        [href]="'http://twitter.com/share?url='+url+'&text=Mira esta novedad del Centro Comercial de San José. Titulo de la novedad: '+selectedNovedad.titulo">
        </a>
        <a pButton pRipple type="button" label="LinkedIn" class="p-button-raised p-button-info p-mb-2"></a>
    </div>


</p-dialog>
