<app-formulario></app-formulario>

<div class="p-mt-5">
    <p-card>


        <div class="FormularioComponent-content p-mt-5">
            <p-card>
                <ng-template pTemplate="title">
                    Educación & Formación
                </ng-template>

                <p-divider align="left" type="dashed">
                    <b>Nivel Educativo Formal</b>
                </p-divider>

                <!--Nivel Educativo Formal-->
                <div class="p-fluid p-formgrid p-grid" [formGroup]="educacionFormacionForm" (ngSubmit)="ngOnSubmit()">

                    <div class="p-field p-col-12 p-md-6">
                        <label for="nivelEducativo">Indique el máximo nivel educativo alcanzado</label>
                        <p-dropdown [options]="nivelEducativo" [(ngModel)]="postulante.nivelEducativo"
                            formControlName="nivelEducativo"></p-dropdown>
                    </div>

                    <div class="p-field p-col-12 p-md-6">
                        <label for="estadoNE">Estado</label>
                        <p-dropdown [options]="estadoNE" [(ngModel)]="postulante.estadoNE" formControlName="estadoNE">
                        </p-dropdown>
                    </div>

                    <div class="p-field p-col-12 p-md-6"
                        *ngIf="postulante.nivelEducativo=='Bachillerato Liceo o UTU'|| postulante.nivelEducativo=='Técnico Profesional UTU' 
                        || postulante.nivelEducativo=='Magisterio - Profesorado'|| postulante.nivelEducativo=='Terciario no universitario'
                        || postulante.nivelEducativo=='Universitario'|| postulante.nivelEducativo=='Posgrado - Master - Doctorado'">
                        <label for="orientacionNE">Orientación del máximo nivel educativo alcanzado</label>
                        <input id="orientacionNE" type="text" required pInputText [(ngModel)]="postulante.orientacionNE"
                            formControlName="orientacionNE">
                    </div>

                </div>

                <p-divider align="left" type="dashed">
                    <b>Capacitacion y Formacion Adicional</b>
                </p-divider>

                <!--Capacitación y Formación adicional-->
                <div class="p-fluid p-formgrid p-grid" [formGroup]="capacitacionFormacionForm">

                    <ng-container formArrayName="capacitaciones">

                        <div *ngFor="let CapForForm of capacitaciones.controls; let i = index" [formGroupName]="i">

                            <div class="p-field p-col-12 p-md-6">
                                <label for="nombreCurso">Nombre del Curso</label>
                                <input id="nombreCurso" type="text" required pInputText
                                    [formControlName]="i+'nombreCurso'">
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="areaT">Área temática</label>
                                <p-dropdown [options]="areaT" [formControlName]="i+'areaT'">
                                </p-dropdown>
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="institucion">Institución Educativa</label>
                                <input id="institucion" type="text" required pInputText
                                    [formControlName]="i+'institucion'">
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="fechaInicio">Año de inicio</label>
                                <input id="fechaInicio" type="text" required pInputText
                                    [formControlName]="i+'fechaInicio'">
                            </div>

                            <!-- <div class="p-field p-col-12 p-md-6">
                                <label for="duracion">Duración</label>
                                <input id="duracion" type="text" required pInputText 
                                    [(ngModel)]="capFor.duracion" [formControlName]="duracion">
                                <p-dropdown [options]="tipoDuracion" [(ngModel)]="capFor.tipoDuracion" [formControlName]="tipoDuracion"></p-dropdown>
                                </div> -->

                            <div class="p-field p-col-12 p-md-6">
                                <label for="estadoCurso">Estado del Curso</label>
                                <p-dropdown [options]="estadoCurso" [formControlName]="i+'estadoCurso'"></p-dropdown>
                            </div>


                            <p-button label="Borrar Capacitacion" (onClick)="deleteCapFor(i)" icon="pi pi-trash">
                            </p-button>


                        </div>

                    </ng-container>


                    <p-button label="Prueba" (onClick)="submit()" icon="pi pi-minus"></p-button>
                    <p-button label="Agregar Capacitacion" (onClick)="addCapFor()" icon="pi pi-plus"></p-button>

                </div>

                <p-divider align="left" type="dashed">
                    <b>Conocimientos Informaticos</b>
                </p-divider>

                <!--Conocimientos Informaticos-->
                <div class="p-fluid p-formgrid p-grid" [formGroup]="conocimientosInformaticosForm">

                    <ng-container formArrayName="conocimientosI">

                        <div *ngFor="let ConIForm of conocimientosI.controls; let i = index" [formGroupName]="i">

                            <div class="p-field p-col-12 p-md-6">
                                <label for="nombreApp">Nombre de la Aplicación</label>
                                <input id="nombreApp" type="text" required pInputText [formControlName]="i+'nombreApp'">
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="categoriaCI">Categoria</label>
                                <p-dropdown [options]="categoriaCI" [formControlName]="i+'categoriaCI'"></p-dropdown>
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="nivelC">Nivel de Conocimiento</label>
                                <p-dropdown [options]="nivelC" [formControlName]="i+'nivelC'">
                                </p-dropdown>
                            </div>

                            <p-button label="Borrar CI" (onClick)="deleteConI(i)" icon="pi pi-trash"></p-button>

                        </div>

                    </ng-container>

                    <p-button label="Prueba2" (onClick)="submit2()" icon="pi pi-minus"></p-button>
                    <p-button label="Agregar ConI" (onClick)="addConocimientosI()" icon="pi pi-plus"></p-button>


                </div>

                <p-divider align="left" type="dashed">
                    <b>Idiomas</b>
                </p-divider>

                <!--Idioma-->
                <div class="p-fluid p-formgrid p-grid" [formGroup]="agregarIdiomaForm">

                    <ng-container formArrayName="IdiomasArreglo">

                        <div *ngFor="let IdiomaForm of IdiomasArreglo.controls; let i = index" [formGroupName]="i">

                            <div class="p-field p-col-12 p-md-6">
                                <label for="idioma">Idioma</label>
                                <p-dropdown [options]="idiomas" [formControlName]="i+'idioma'"></p-dropdown>
                            </div>

                            <div class="p-field p-col-12 p-md-6" *ngIf="idioma.nombre=='Otro'">
                                <label for="especificacion">Especificación</label>
                                <input id="especificacion" type="text" required pInputText [formControlName]="i+'especificacion'">
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="hablaConv">Habla / Conversación</label>
                                <p-dropdown [options]="hablaConv" [formControlName]="i+'hablaConv'"></p-dropdown>
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="compAud">Comprensión Auditiva</label>
                                <p-dropdown [options]="compAud" [formControlName]="i+'compAud'"></p-dropdown>
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="compLec">Comprensión Lectora</label>
                                <p-dropdown [options]="compLec" [formControlName]="i+'compLec'"></p-dropdown>
                            </div>

                            <div class="p-field p-col-12 p-md-6">
                                <label for="escritura">Escritura</label>
                                <p-dropdown [options]="escritura" [formControlName]="i+'escritura'"></p-dropdown>
                            </div>

                            <p-button label="Borrar Idioma" (onClick)="deleteIdioma(i)" icon="pi pi-trash"></p-button>

                        </div>

                    </ng-container>

                    <p-button label="Prueba3" (onClick)="submit3()" icon="pi pi-minus"></p-button>
                    <p-button label="Agregar Idioma" (onClick)="addIdioma()" icon="pi pi-plus"></p-button>


                </div>




                <ng-template pTemplate="footer">
                    <div class="p-grid p-nogutter p-justify-between">
                        <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                        <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
                        <p-button label="Guardar" (onClick)="ngOnSubmit()" icon="pi pi-plus" iconPos="right"></p-button>
                        
                    </div>
                </ng-template>
            </p-card>
        </div>
    </p-card>
</div>