<p-card styleClass="p-card-shadow p-p-3 p-mt-4">
    <div class="p-grid">
        <div class="p-col-12 p-md-3">
            <p-tree [value]="nodes" selectionMode="multiple" [(selection)]="selectedNodes"
            (onNodeSelect)="nodeSelect($event)">
            <ng-template let-node  pTemplate="fechaNac">
                <p-calendar  [monthNavigator]="true" [yearNavigator]="true" yearRange="1960:2021" [panelStyle]="{'height': '500px'}" [(ngModel)]="selectedFechaNacimiento" [touchUI]="true" [readonlyInput]="true" placeholder="Fecha de nacimiento"></p-calendar>
            </ng-template>
            <ng-template let-node  pTemplate="pais">
                <input type="text" pInputText [(ngModel)]="node.label"> 
            </ng-template>
            <ng-template let-node  pTemplate="departamento">
                <input type="text" pInputText [(ngModel)]="node.label"> 
            </ng-template>
        </p-tree>        
        </div>
        <div class="p-col-12 p-md-9">
            <app-lista-postulantes-partial [postulantes]="postulantes"></app-lista-postulantes-partial>
        </div>
    </div>
</p-card>