
<p-card>
    
    <div class="p-col p-mt-1">
        <style>font {
            font-size: 30px;
          }</style>
        <font><b>Novedades</b> &nbsp;&nbsp;</font>
          <a [ngStyle]="{color:'var(--blue-1000)'}"><button pButton pRipple type="button" icon="pi pi-plus" title="publicarOferta"
            class="p-button-rounded p-button-warning p-mr-2" pTooltip="Publicar oferta"></button></a>
    </div>
    
    <p-table [columns]="cols" [value]="novedades" [scrollLeft]="true" styleClass="p-datatable-gridlines p-datatable-striped"
    [responsive]="true">
    <ng-template pTemplate="header" let-columns>
    <tr>
        <th *ngFor="let col of columns">
        {{col.header}}
        </th>
        <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-novedad let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <span class="p-column-title">{{col.header}}</span>
            {{novedad[col.field]}}
        </td>
          <td>
              
              <button pButton pRipple type="button" icon="pi pi-search-plus" title="verDetalle" (click)="verDetalle(novedad)"
                class="p-button-rounded p-button-warning p-mr-2" pTooltip="Ver detalle"></button>
              <button pButton pRipple type="button" icon="pi pi-share-alt" title="Compartir" class="p-button-rounded p-button-secondary p-mr-2"
                (click)="compartir(novedad)"></button>
          </td>
        </tr>
</ng-template>
</p-table>
</p-card>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        
        .fa {
          padding: 20px;
          font-size: 30px;
          width: 25px;
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
        }

.fa-facebook {
  color: grey;
}

.fa-twitter {
  color: grey;
}


.fa-whatsapp {
  color: grey;
}


.fa-telegram {
  color: grey;
}


.fa-linkedin {
  color: grey;
}
    </style>

</head>


<!--
<p-dialog class="p-grid p-jc-center" header="Detalle de la novedad" [(visible)]="displayVerDetalleDialog"
[style]="{height: '100%',width: '100%'}" [draggable]="false">  
<app-datos-novedad *ngIf="selectedNovedad.id" [id]="selectedNovedad.id"></app-datos-novedad>
</p-dialog>
-->

<p-dialog [header]="'Compartir '" [(visible)]="displayCompartirDialog" [breakpoints]="[{ '80px': '30vw' }]"
[style]="{ width: '18vw' }" [baseZIndex]="10000">
  <div class="p-grid p-formgrid p-flex-column p-fluid">

    <div class="p-col p-mt-1">
        <a href="#" class="fa fa-facebook"></a><font>&nbsp;&nbsp;&nbsp;&nbsp;</font>  <a [ngStyle]="{color:'var(--blue-500)'}"><a href="#" class="fa fa-twitter"></a></a><font>&nbsp;&nbsp;&nbsp;&nbsp;</font> <a [ngStyle]="{color:'var(--blue-500)'}"><a href="#" class="fa fa-linkedin"></a></a>
    
    
    
        <font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font> <a [ngStyle]="{color:'var(--blue-500)'}"><a href="#" class="fa fa-whatsapp"></a></a> <font>&nbsp;&nbsp;&nbsp;&nbsp;</font><a [ngStyle]="{color:'var(--blue-500)'}"><a href="#" class="fa fa-telegram"></a></a> 

</div>
    
  </div>
</p-dialog>

<p-dialog [header]="' '+ selectedNovedad.titulo" [(visible)]="displayVerDetalleDialog" [breakpoints]="[{ '960px': '75vw' }]"
    [style]="{ width: '50vw' }" [baseZIndex]="10000">
      <div class="p-grid p-formgrid p-flex-column p-fluid">
        <div align="center">
        <img src = "file:///C:/Users/Facu/Desktop/novedad.jpg" height="500px" width="500px">
    </div>
        <div >
            <strong> </strong> <br>
            {{selectedNovedad.contenido}}
       
      </div>
</div>
</p-dialog>


