<p-card styleClass="p-card-shadow p-p-3 p-mt-4">
  <ng-template pTemplate="title">
    <div class="p-grid p-ai-center p-vertical-container">
      <div class="p-col-fixed">
        <span>Novedades</span>

      </div>
      <div class="p-col">
        <button pButton pRipple type="button" icon="pi pi-plus" title="publicarNovedad" routerLink="/agregarNovedad"
          class="p-button-rounded p-button-primary p-mr-2" pTooltip="Agregar novedad"></button>
      </div>
    </div>
  </ng-template>

  <p-table [columns]="cols" [value]="novedades" [scrollLeft]="true"
    styleClass="p-datatable-gridlines p-datatable-striped" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-novedad let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <span class="p-column-title">{{col.header}}</span>
          {{novedad[col.field]==novedad.fechaPublicacion?convertirFecha(novedad.fechaPublicacion):novedad[col.field]}}
        </td>
        <td>

          <button pButton pRipple type="button" icon="pi pi-search-plus" title="Ver detalle"
            class="p-button-rounded p-button-info p-mr-2" [routerLink]="'/novedades/'+novedad.id"></button>
          <button pButton pRipple type="button" icon="pi pi-share-alt" title="Compartir"
            class="p-button-rounded p-button-secondary p-mr-2" (click)="compartir(novedad)"></button>


        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>


<p-dialog header="Compartir" [(visible)]="displayCompartirDialog" [breakpoints]="[{ '80px': '30vw' }]"
  [style]="{ width: '18vw' }" [baseZIndex]="10000">

  <div class="p-grid p-formgrid p-flex-column p-fluid">
    <a pButton pRipple type="button" label="Facebook" class="p-button-raised p-button-info p-mb-2"
      [href]="'https://www.facebook.com/sharer/sharer.php?u='+url">
    </a>
    <a pButton pRipple type="button" label="WhatsApp" class="p-button-raised p-button-success p-mb-2"
      [href]="'https://api.whatsapp.com/send?text='+url">
    </a>
    <a pButton pRipple type="button" label="Twitter" class="p-button-raised p-button-primary p-mb-2"
      [href]="'http://twitter.com/share?url='+url+'&text=Mira esta novedad del Centro Comercial de San José. Titulo de la novedad: '+selectedNovedad.titulo">
    </a>
    <button pButton pRipple type="button" label="Email" class="p-button-raised p-button-help p-mb-2"></button>
    <a pButton pRipple type="button" label="LinkedIn" class="p-button-raised p-button-info p-mb-2"></a>
  </div>


</p-dialog>