<p-card styleClass="p-card-shadow p-p-3 p-mt-4">
    <ng-template pTemplate="header">
        <div class="p-grid p-ai-center p-vertical-container">
            <h1 class="p-col-12 p-md-4">Panel de seguimiento</h1>
            <div class="p-col-12 p-md-8">
                <p-calendar [(ngModel)]="desde" [maxDate]="hasta" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true" dateFormat="mm/yy"></p-calendar>
                <p-calendar [(ngModel)]="hasta" [minDate]="desde" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true" dateFormat="mm/yy"></p-calendar>
                <p-button icon="pi pi-search" [loading]="loading" (onClick)="getEstadisticas()"></p-button>

            </div>
        </div>
    </ng-template>
    <div class="p-grid p-jc-center">
        <div class="p-col-12 p-md-2 p-fluid" *ngFor="let col of cols">
            <p-card styleClass="p-text-center" [style]="{backgroundColor:'var(--'+col.color+')', color:'var(--surface-0)'}">
                <h4>{{col.header}}</h4>
                <h2>
                    {{col.field??0}}
                </h2>
            </p-card>
        </div>
      
        <div class="p-col-12 p-md-3 p-fluid">
            <p-chart type="pie" [data]="data" [style]="{'width': '40%'}"></p-chart>
        </div>
        <div class="p-col-12 p-md-6 p-fluid">
            <p-chart type="bar" [data]="ofertasMes"></p-chart>
        </div>
    </div>
</p-card>