.p-carousel{
    align-items: right;
}

.novedad-imagen {
    width: 100%;
    height: 700px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    object-fit: cover;
}

.nov{
    color: green;
    text-align: center;
    font-size: 2rem;
}

@media only screen and (max-width: 500px) {
    .novedad-imagen {
        height: 50vh;
    }
}