.p-carousel{
    align-items: right;
}

.novedad-imagen {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nov{
    color: green;
    text-align: center;
    font-size: 2rem;
}

