<p-carousel [value]="novedades" [numVisible]="1" [numScroll]="1" [circular]="true"  styleClass="p-mt-3" *ngIf="images">
    <ng-template pTemplate="header">
        <h1 class="nov">Novedades del Centro</h1>
    </ng-template>
    <ng-template let-novedad pTemplate="item" >
                <div>
                    <a [routerLink]="'/detalleNovedad/'+novedad.id">
                        <img src="{{novedad.imagen}}" class="novedad-imagen" style="height: 700px;"/>
                    </a>
                </div>        
    </ng-template>
</p-carousel>